nav(class="pa3 pa4-ns")
  a(class="link dim purple sans-serif f5 f5-ns dib mr3" href="#" title="Home") Site name
  a(class="link dim purple sans-serif f5 f5-ns dib mr3" href="#" title="Back") Back Baby