nav(class="pa3 pa4-ns bb b--black-10 ph3 ph5-m ph6-l")
  div(class="flex w-100")
    div(class="w-75 v-mid")
      a(class="link dim purple sans-serif f5 f5-ns pr4-ns pr3 dib mr3" href="#" title="Home") Tomayon
  
    div(class="w-25 v-mid")
      a(class="link dim purple sans-serif f5 f5-ns pr4-ns pr3 dib mr3" href="#" title="Blog") Blog
      a(class="link dim purple sans-serif f5 f5-ns dib mr3" href="#" title="Contact") Contact